/* Card modifications */
.gemini-good-novel .card-body {
	background-color: #2e462e !important;
	border: 1px solid #578857;
} /* Dark Green */

.gemini-mixed-novel .card-body {
	background-color: #46402e !important;
	border: 1px solid #887a57;
} /* Dark Yellow/Orange */

.gemini-bad-novel .card-body {
	background-color: #462e2e !important;
	border: 1px solid #885757;
} /* Dark Red */

.gemini-processing-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0 0 0 / 50%);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
	z-index: 10;
	border-radius: var(--bs-card-inner-border-radius);
}
