/* Color coding for assessment ratings */
.assessment-rating {
	font-weight: bold;
	padding: 2px 6px;
	border-radius: 3px;
}

.assessment-rating.good {
	color: #4caf50;
	background-color: rgb(76 175 80 / 10%);
}

.assessment-rating.mixed {
	color: #ff9800;
	background-color: rgb(255 152 0 / 10%);
}

.assessment-rating.bad {
	color: #f44336;
	background-color: rgb(244 67 54 / 10%);
}

.assessment-rating.unknown {
	color: #9e9e9e;
	background-color: rgb(158 158 158 / 10%);
	border: 1px solid rgb(158 158 158 / 30%);
	font-style: italic;
}
